/* Start Form */ 
body{
    background-color: #F1F1F1;
}

.alert{

    margin-bottom: 10px;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px ;
    letter-spacing: -2px;
    color: #4f4444;
}
.contact-form{
    max-width: 450px;
    margin: 20px auto;
}

.contact-form .form-group{

    margin-bottom: 0;
    position: relative;
}

.contact-form input{
    padding-left: 32px;
}


.contact-form input,
.contact-form textarea{
    margin-bottom: 5px;
}

.contact-form textarea{
    height: 180px  !important;
    max-width: 450px !important
}

.contact-form input:not([type='submit']) + i {
    height: 0;
    float: left;
    position: relative;
    top: -29px;
    left: 10px;
    color: #999;
}

.contact-form .asterisx{
    float: right;
    height: 0;
    font-size: 22px;
    color: #b90d0d;
    position: absolute;
    right: 10px;
    top: 6px;

}

.contact-form .send-icon{
    display: block;
    position: relative;
    top: -29px;
    left: 7px;
    color: #FFF;
}

.contact-form .custom-alert{
    padding: 5px 10px;
    display: none;
}